#root {
    display: block;
}
#root {
    -fx-background-image: url("https://res.cloudinary.com/djog8qqis/image/upload/v1669685922/empire/usercontrols/castle-background-high-resolution_jbtrmn.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 1920, 1080;
}
